body {
 font-family: 'Open Sans', sans-serif;

 background: #2C2B3D;

 margin:0px;
}
 
.page {
  width: 1280px;
  height: 720px;
  text-align: center;

  margin:auto;

}

/*header*/

header {
  font-family: 'JetBrains Mono', monospace;
  font-size: 14px;
  line-height: 28px; 


  display: flex;
  justify-content: space-between;

  width: 1083px;
  margin: 0;
  padding: 71px 98px 0px;
}

header nav ul  {
  display: flex;

  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
}

nav ul a:hover {
  color: #c5c1c1;
}

ul {
  width: 306px;
  gap:64px;
}
 
/*main*/

main {
  display: flex;
  justify-content: space-between;



  width: 1092px;
  margin: 0px 89px 157px 99px;
}

#pc {
 margin-top: 101px;
}

main h1 {
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
  font-style: normal;
  font-size: 36px;
  line-height: 40px;
  padding: 0px;

  margin-bottom: 60px;
  margin-top: 107px;
}

main h1 span {
  color: #00BFA6;
  font-weight: bold;
}

main p {
  color:  #C2C2C2;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
}

section p strong {
  color:#C2C2C2;
}

section p span {
  color: #00BFA6;
  font-weight: 700;
}

/*footer*/

#line {
  width: 568px;
  height: 0px;
  margin: 157px auto 27px;
  border: 1px solid #00BFA6;
}

#padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}

footer p {
  font-family: 'JetBrains Mono';
  font-size: 14px;
  line-height: 28px;
 
  color: #FFFFFF;
}

footer p a {
  text-decoration: none;
  color: #FFFFFF;
}
  
footer p a:hover {
  color: #c5c1c1;
}
